
#Brain on Fire - Git Ignore

# File e cartelle di build
/bin/
/release/

# Script
make_appImage.sh
appimagetool-x86_64.AppImage

# File di compilazione
*.o
*.out
*.log
*.tmp

# Backup ed editor
*~
*.swp
.DS_Store
